* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 2% 0% 5% 5%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container div img {
    height: 3rem;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', 'san-serif';
    color: #cecece;
    gap: 2.5rem;
    position: relative;
    right: 20rem;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
}

li:first-child {
    color: #383838;
}

.list-item:hover {
    color: #383838;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.button-group .nav-button {
    background-color: #5955b3;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1em 2em;
    position: relative;
    right: 5rem;
}

.nav-button:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}


.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-text {
    color: #3c2f60;
    font-family: 'Poppins', 'san-serif';
    font-size: 4.5rem;
    font-weight: 600;
    margin-bottom: 40px;
    line-height: 85px;
}


span {
    color: #5955b3;
}

.description {
    color: #8f8f8f;
    font-family: 'Poppins', 'san-serif';
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    bottom: 1rem;
    margin-top: 0px;
    width: 400px;
}

.btn {
    background-color: #5955b3;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 1em 2em;
    position: relative;
    top: 5rem;
}

.banner-container div img {
    position: relative;
    top: 2rem;
    right: 0px;
}
