@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    to right bottom,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
