@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'san-serif';
}

body {
    background-color: #2b2923;
}

.container {
    margin: 35px 285px 10px 285px;
}

nav {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar img {
    height: 50px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    color: #7c7b74;
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
    font-size: 13px;
}

ul li:hover {
    cursor: pointer;
    color: #d2d1ce;
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
}

button {
    color: #a09036;
    background-color: transparent;
    border: 1px solid #a09036;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: transform .2s ease-in-out;
}

main {
    margin-top: 100px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #f1f0ee;
    font-size: 3.8rem;
    width: 50%;
    line-height: 80px;
    font-weight: 800;
}
p {
    width: 400px;
    color: #d2d1ce;
    font-size: 17px;
}

.bottom img {
    width: 100%;
    margin-top: 80px;
}