@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'san-serif';
}

.container {
    margin: 1rem 10rem;
}

body {
    background-color: #f9f5ed;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.list-item {
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.list-item::after {
    content: '';
    background-color: black;
    display: block;
    position: absolute;
    transform-origin: bottom center;
    width: 0;
    height: 2px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.list-item:hover::after {
    width: 70%;
    left: 17%;
}
.list-item:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    width: 40%;
    position: relative;
    top: 4rem;
}

.heading {
    font-size: 4rem;
    line-height: 5rem;
}

.paragraph {
    margin: 5% 0;
}

.btn {
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background-color: #3b855b;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.8);
    transition: transform .2s ease-in-out;
}


.right-section {
    width: 60%;
    position: relative;
    top: 4rem;
    left: 5rem;
}
