@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'san-serif';
}

body {
    max-width: 1440px;
    background-color: #f0f4f5;
    margin: auto;
    overflow: hidden;
}

/* nav-bar */
nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
    position: relative;
}

nav ul li:first-child {
    color: #20bc7e;
}

li::after {
    content: '';
    background-color: #20bc7e;
    display: block;
    position: absolute;
    transform-origin: bottom center;
    width: 0;
    height: 2px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

li:hover::after {
    width: 70%;
    left: 17%;
}

li:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .2s ease-in-out;
}


/* main section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section {
    width: 50%;
}

.left-section {
    margin-left: 5%;
    position: relative;
}

.top-angle {
    width: 25px;
}

.left-section h1 {
    font-size: 70px;
    line-height: 6rem;
}

.left-section p {
    color: #7c8799;
    font-size: 18px;
    margin: 20px 0px;
}

.bottom-angle {
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope {
    position: absolute;
    width: 90%;
    top: -60px;
    right: 25px;
    z-index: -1;
}

.mouse {
    position: absolute;
    right: -30px;
    bottom: 0px;
    width: 30px;
}

.left-section button{
    color: #ffffff;
    background-color: #20bc7e;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 600;
}

.btn:hover {
    transform: scale(0.9);
    transition: transform .2s ease-in-out;
}


/* Right Side */
.green-box, .yellow-box {
    position: absolute;
    right: 0;
}

.green-box {
    width: 35%;
    bottom: 30px;
}

.yellow-box {
    width: 30%;
    bottom: 50px;
}

.doctor {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}

